.bg-bubble{
    background-image: url('/images/bgs/bg-bubble.jpg');   
}

.bg-pwacman{
    background-image: url('/images/bgs/bg-pwacman.jpg');   
}

.bg-ava{
    background-image: url('/images/bgs/bg-ava.jpg');   
}

.bg-worddrop{
    background-image: url('/images/bgs/bg-ava.jpg');   
}

.bg-vrtranquilitie{
    background-image: url('/images/bgs/bg-vrtranquilitie.jpg');   
}

.bg-loti{
    background-image: url('/images/bgs/bg-loti.jpg');   
}

.bg-pwinter{
    background-image: url('/images/bgs/bg-pwinter.jpg');   
}

.bg-angry-panda{
    background-image: url('/images/bgs/bg-angry-panda.jpg');   
}


.bg-word-drop{
    background-image: url('/images/bgs/bg-word-drop.jpg');   
}
