.bg-bubble{
    background-image: url('/images/bgs/bg-bubble.jpg');   
}

.bg-pwacman{
    background-image: url('/images/bgs/bg-pwacman.jpg');   
}

.bg-ava{
    background-image: url('/images/bgs/bg-ava.jpg');   
}

.bg-worddrop{
    background-image: url('/images/bgs/bg-ava.jpg');   
}

.bg-vrtranquilitie{
    background-image: url('/images/bgs/bg-vrtranquilitie.jpg');   
}

.bg-loti{
    background-image: url('/images/bgs/bg-loti.jpg');   
}

.bg-pwinter{
    background-image: url('/images/bgs/bg-pwinter.jpg');   
}

.bg-angry-panda{
    background-image: url('/images/bgs/bg-angry-panda.jpg');   
}

.bg-word-drop{
    background-image: url('/images/bgs/bg-word-drop.jpg');   
}

.bg-cxs{
    background-image: url('/images/bgs/bg-cxs.jpg');   
}

.bg-webaudio{
    background-image: url('https://cdn-images-1.medium.com/max/900/1*GrFkeXbd1AebqAw73pNQhA.png');   
}

.bg-hungry-pandas{
    background-image: url('https://cdn-images-1.medium.com/max/1600/1*sFEWD7PFAp7HZkCGbZFrNQ.png');   
}

.bg-pwa-logo{
    background-image: url('https://cdn-images-1.medium.com/max/1500/1*U01ubQ9TrE1Zow5pkGHTfw.png');   
}

.bg-canv3d{
    background-image: url('/images/pres/s3doodle.jpg');   
}

