:root{
    --base-color:#ffffff;
    --base-color-opacity: rgba(255,255,255,.8);
    --accent-color:#0096FF;
    --accent-second-color:#FF0064;
    --text-color:#3d3d3d;
    --grid-gap: 2em;
    --global-padding:1.5em;
}

html, body{
    margin: 0px;
    padding: 0px;
}

.header-strip{
    background-color: rgba(0, 149, 255, 0.9);
    height: 3em;
    position: fixed;
    z-index: 200;
    top:0px;
    left: 0px;
    right: 0px;;
}

.main-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: var(--grid-gap);
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: stretch;
}

.main-content{
    margin: 3em 0em 5em 0em;
}

.pres-card{
    height: 12em;
    border: #cecece solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #e5e5e5;
    margin: calc(var(--global-padding)/2);
}

.pres-card-title{
    background-color: var(--base-color-opacity);
    margin: 0px;
    padding: calc(var(--global-padding)/2.5);
}

.pres-info{
    padding: .2em;
    background-color: var(--base-color-opacity);
    color: var(--text-color);
}

.card-bg{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    object-fit: cover;
    z-index: 5;
}

.card-content{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    z-index: 20;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
}

.img-card-bg{
    object-fit: cover;
    width: 100%;
    height:100%;
}

.social-links{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: .5;
    padding: .5em 0em .5em 0em;
}

.main-logo{
    width: 120px;
    margin: .1em 1em .1em 1em;
}

.socialIcon{
    padding: .1em .1em .1em .1em;
    margin: .1em .6em .1em .6em;
    height: 1em;
}

h1{
    text-align: center;
}
