/*main specific secitons bg*/
.pres-1{
    background-image: url('https://pbs.twimg.com/media/DU53e_oVoAA_6FQ.jpg');   
}

.pres-2{
    background-image: url('https://secure.meetupstatic.com/photos/event/5/9/9/2/highres_466822930.jpeg');   
}

.pres-3{
    background-image: url('https://pbs.twimg.com/media/DQRUc6zWsAAo-l-.jpg');
}

.pres-4{
    background-image: url('/images/pres/talentedtalks.jpg');
}

.pres-5{
    background-image: url('/images/pres/yglf.jpg');
}

.pres-6{
    background-image: url('/images/pres/vrdays.jpg');
}

.pres-7{
    background-image: url('/images/pres/mozfest17.jpg');
}

.pres-8{
    background-image: url('/images/pres/sdc.jpg');
}

.pres-9{
    background-image: url('/images/pres/jsmontly17.jpg');
}

.pres-10{
    background-image: url('/images/pres/gtc17.jpg');
}

.pres-11{
    background-image: url('https://pbs.twimg.com/media/DI5KkJzW4AA3U7k.jpg:large');
}

.pres-12{
    background-image: url('https://pbs.twimg.com/media/DH24SyTXgAAx58B.jpg');
}

.pres-13{
    background-image: url('https://pbs.twimg.com/media/DEHmonAWsAA3axl.jpg');
}

.pres-14{
    background-image: url('https://cdn-images-1.medium.com/max/800/1*FiDFGtg1_vvWGyYY6Js0Lg.jpeg');
}

.pres-15{
    background-image: url('https://pbs.twimg.com/media/C_s7y4HXcAAGuls.jpg');
}

.pres-16{
    background-image: url('https://pbs.twimg.com/media/C_jhAwjXoAEMF_H.jpg');
}

.pres-17{
    background-image: url('https://pbs.twimg.com/media/C9S3SPiXsAAnCLy.jpg');
}

.pres-18{
    background-image: url('https://pbs.twimg.com/media/C_Xz98LXYAAE3zd.jpg');
}

.pres-19{
    background-image: url('https://cdn-images-1.medium.com/max/800/1*5JXwKClCCwa0Im38rX-uIg.png');
}

.pres-20{
    background-image: url('https://pbs.twimg.com/media/C6jGTFfV4AEdBqa.jpg:large');
}

.pres-21{
    background-image: url('http://diekus.net/images/pres/madridjs.png');
}

.pres-22{
    background-image: url('https://pbs.twimg.com/media/C52YQWOWMAQ0uHL.jpg');
}

.pres-23{
    background-image: url('https://pbs.twimg.com/media/C4y7rcqWIAAfMmO.jpg:large');
}

.pres-24{
    background-image: url('http://diekus.net/images/pres/rave1.jpg');
}

.pres-25{
    background-image: url('http://diekus.net/images/pres/lwp16.jpg');
}

.pres-26{
    background-image: url('https://cdn-images-1.medium.com/max/800/1*VGtSjZi9EhfT6Av-DnpSyA.jpeg');
}

.pres-27{
    background-image: url('https://cdn-images-1.medium.com/max/800/1*OqdpAd-ePPlnH9cBdiXv8A.jpeg');
}

.pres-28{
    background-image: url('http://diekus.net/images/pres/qomex.jpg');
}

.pres-29{
    background-image: url('http://diekus.net/images/stereo3drend.png');
}

.pres-30{
    background-image: url('http://diekus.net/images/pres/s3doodle.jpg');
}

.pres-31{
    background-image: url('http://diekus.net/images/pres/beyond.jpg');
}

.pres-32{
    background-image: url('http://diekus.net/images/pres/3dcs14.png');
}

.pres-33{
    background-image: url('http://diekus.net/images/pres/mozfest13.jpg');
}

.pres-34{
    background-image: url('http://diekus.net/images/pres/3dcs13.jpg');
}

.pres-35{
    background-image: url('https://conferences.ece.ubc.ca/dmiaf2017/header.png');
}

.pres-36{
    background-image: url('/images/pres/mwc182.jpg');
}

.pres-37{
    background-image: url('/images/pres/bg-create.jpg');
}