:root{
    --base-color:#ffffff;
    --base-color-opacity: rgba(255,255,255,.8);
    --accent-color:#FF0064;
    --accent-second-color:#0096FF;
    --text-color:#3d3d3d;
    --grid-gap: 2em;
    --global-padding:1.5em;
}

body{
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    background-color: var(--base-color);
    margin:0px;
    padding:0px;
    padding-bottom: 3em;
}

a:link, a:visited, a:visited{
    color: var(--accent-color);
}

a:hover{
    color: var(--accent-second-color);
    transition: 300ms;
}

footer{
    position: fixed;
    background-color: var(--base-color-opacity);
    bottom: 0px;
    width: 100%;
    z-index: 100;
}

.footer-logo{
    width: 5em;
    display: block;
    margin: 1em auto 1em auto;
}

.main-content{
    margin: 0px;
    display: flex;
    flex-direction:column;
}

.head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 50vh;
}

.hero-bg{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 5;
}

.hero-bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    /*filter: sepia(100%) hue-rotate(180deg) saturate(500%) brightness(65%);*/
}

.hero-content{
    padding: var(--global-padding);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 20;
}

.site-descrip{
    width: 50%;
    color: var(--base-color);
    font-size: 1.5em;
    line-height: 1.45em;
    text-shadow: 1px 1px #3d3d3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(0,0,0,.4);
    padding: .8em;
}

.site-descrip a:link{
    color:#ffffff;
}

h2{
    background-color:  linear-gradient(60deg, var(--accent-color), var(--accent-second-color) 70%);
    background: -webkit-linear-gradient(60deg, var(--accent-color), var(--accent-second-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    padding:0px;
}

.social-links{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: .5;
    padding: .5em 0em .5em 0em;
    border-top: var(--base-color-opacity) solid 2px;
}

/*events*/

.events{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    background-color: #3d3d3d;
}

.event{
    padding: 1em;
    color: var(--base-color);
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    border:0px;
}

.event:hover{
    animation-duration: .5s;
    animation-name: hover-event;
    animation-fill-mode: forwards;
}

@keyframes hover-event{
    from{
        margin: 0em;
    }
    to{
        margin: .5em;
    }
}

.event-info{
    padding: .2em;
    background-color: var(--base-color-opacity);
    color: var(--text-color);
}

.event-title{
    color: var(--accent-color);
    background-color:var(--base-color);
    padding: .2em;
    margin: 0px;
}

.ev1{
    background-image: url(/images/bgs/fsf.jpg);
    background-size: cover;
    background-position: center;
}

.ev2{
    background-image: url('https://www.digility.de/fileadmin/admin_only/media/layoutImages/frontpage-header.jpg');
    background-size: cover;
    background-position: center;
}

.ev3{
    background-image: url('http://itarena.ua/wp-content/uploads/2018/02/best-5-min-1.jpg');
    background-size: cover;
    background-position: center;
}

.ev4{
    background-image: url('https://www.code-n.org/wp-content/uploads/CODE_N_ARCH_BY_CLEMENS_WEISSHAAR_AND_REED_KRAM_FOTO_DAVID_LEVENE_PANO_POPULATED_VIEW_NORTH-1000x397.jpg');
    background-size: cover;
    background-position: center;
}

.sections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: var(--global-padding);
}

.section{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.card{
    height: 15em;
    border: #cecece solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #e5e5e5;
    margin: calc(var(--global-padding)/2);
}

.img-card-bg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-bg{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    object-fit: cover;
    z-index: 5;
}

.full-contain-bg{
  object-fit: contain;
}

.card-content{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    z-index: 20;
    display: flex;
    flex-direction: column-reverse;
}

.card-title{
    background-color: var(--base-color-opacity);
    margin: 0px; 
    padding: calc(var(--global-padding)/2.5);
}


@media (max-width: 1100px){
    .site-descrip{
        font-size: 1.3em;
        padding: .8em;
    }
}

/*for mobiles*/

@media (max-width: 800px){
    .head{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-between;
    }

    .sections{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: var(--global-padding);
    }

    .events{
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end:2 ;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .hero-bg{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      z-index: 5;
      min-width: 10em;
    }

    .event{
        min-height: 8em;
    }

   .hero-bg{
        /*filter: sepia(100%) hue-rotate(180deg) saturate(500%) brightness(65%);
        -webkit-filter: sepia(100%) hue-rotate(180deg) saturate(500%) brightness(65%);
        -ms-filter: sepia(100%) hue-rotate(180deg) saturate(500%) brightness(65%);*/
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        z-index: 5;
        min-width: 10em;
      }

  

    .hero-content{
        padding: var(--global-padding);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        z-index: 20;
    }

    .site-descrip{
        font-size: 1.05em;
        line-height: 1.45em;
        padding: .5em;
    }
}