html{
    background-color: #3d3d3d;
    background-repeat: repeat-x ;
    background-attachment: fixed;
    background-image: url('/images/bg1.jpg');
    color: #fff;

}

body{
    font-family:'Samsung One'; 
    margin:auto;
    padding: 0px;
    max-width: 80em;
    background-color: rgba(0, 0, 0, .6);
    
}

main{
    padding: 2em;
}

img{
    border-radius: 1em;
}


h1{
    font-size: 2.5em;
    font-weight: 100;
    margin: 0px;
    text-shadow: #3d3d3d;
    
}

h2{
    font-size: 3em;
    font-weight: 100;
    border-bottom: solid 1px rgba(194, 194, 194, .2);
    color: #C2C2c2;
    text-shadow: #3d3d3d;
}

h3{
    font-size: 1em;
    font-weight: 100;
    margin: 0px;
}

a:link, a:visited, a:active{
    color: #0096FF;
    text-decoration: none;
}

a:hover{
    color: #0096FF;
    text-decoration: underline;
}

#mainHead{
    display: flex;
    flex-direction:row-reverse;
    padding: 2em;

}

#mainHeadContent{
    align-self: flex-end;

}

#socialLinks{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    align-content: flex-start;
}

.socialIcon{
    border-radius: 0em;
}

.presImage{
    margin: auto;
    padding: .1em;
    max-width: 20em;
}

.card{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20em;
    max-width: 35em;
    padding: 2em;
    position: relative;
}

.cardArticle{
    flex-grow: 1;
    max-width: 90%;
    padding: 2em;
    position: relative;
}

.cardTitle{
    top:0px;
    margin-bottom: .5em;
    font-size: 1.5em;
}

.imgPost{
    width: 15em;
    height: 15em;
    margin:1em;
    display: block;
    border-radius:1em;
    object-fit: cover;

}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
}

.cardIcon{
    height: 2em;
    position: absolute;
    top:0px;
    right: 3em;
    border-radius: 0px;
}

#siteFooter{
    display: flex;
    justify-content: center;
    background-color: #0096FF;
    padding: 2em;
    background-image: url('/images/spattern.png');
}

#featImage{
    width: 10em;
    height: 10em;
    object-fit: cover;
}

.featuredCard{
    width: 100%;

}