body
{
	background-color: #f6f6f6;
	font-family: 'Scope One', serif;
	color: #383838;
	/*background-image:url('../i/fnd.jpg');*/
	background-position:center center;
	background-attachment:fixed;
	font-size: large;
	line-height: 1.6em;
}

.mainarea
{
    padding:20px;
}

.thumbnail
{
	background-color:rgba(255, 255, 255, 0.6);
	transition: background-color 400ms ease-in-out;
	min-height: 350px;
}

.thumbnail:hover
{
	background-color:rgba(255, 255, 255, 0.8);
}

.well
{
	background-color:rgba(255, 255, 255, 0.4);
}

.jumbotron
{
	background-color:rgba(255, 255, 255, 0.3);
	margin-top: 10px;
	background-image: url('../i/bgNew.png');
	background-position:bottom left;
	background-repeat: no-repeat;
	display: block;
	border-radius: 80px;
}

h1
{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 3.3em;
}

h2
{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 3em;
	color:#0088E7;
}

h3
{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.7
}

footer {
    font-size:0.8em;
    display:block;
    margin:auto;
    padding:50px;

    clear:both;
}

a:link, a:visited, a:active
{
	color:#0088E7;
}

.profilepic{
	display: block;
	border-radius: 256px;
	height: 120px;
	width: 120px;
}

#socialmenu
{
	margin-bottom: 15px;
	text-align: center;

}

#mainPic
{
	margin:auto;
	display: block;
	max-width: 100%;
  	max-height: 100%;
}


.expImg{
	width:100%;
}

.threedcont{
	perspective: 250px;
	perspective-origin: 50% 50%;
}

.presImgs{
	width: 100px;
	height: 100px;
}

.nothingOnSides{
	clear:both;
}